<form action="/trees/<%= @tree.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="title">Species</label>
      <input id="title" type="text" name="tree[species]" value="<%= @tree.species %>" />
    </li>
    <li>
      <label for="content">Height</label>
      <input id="content" type="number" name="tree[height]"  value="<%= @tree.height %>">
    </li>
  </ul>
  <input type="submit" value="EDIT"/>
</form>
